.success {
    color: green;
    font-weight: bold;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 4px 4px;
    width: 50%;

}

.error {
    color: red;
    font-weight: bold;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 4px 4px;
    width: 50%;
}